body {
    overflow: auto;
    background: #2c2c2c;
    margin: 0;
    font-family: 'Arial', sans-serif;
    zoom: 95%;
}

body::-webkit-scrollbar {
    display: none;
}

img {
    width: 90px;
    float: left;
    padding: 0 0 10 0px;
}

.number {
    padding: 10px 0 0 0;
    font-size: 25px;
    color: white;
}

.task {
    padding-top: 10px;
    font-size: 40px;
    color: white;
    top: 40px;
}

.sixth_about {
    line-height: 1.3;
    font-size: 21px;
    color: white;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-left: 580px;
}

.preTitle {
    color: white;
    width: 30%;
    font-size: 16.3px;
    background-color: #4d4d4d;
    border-radius: 10px;
    padding: 4px 4px;
    margin-left: 10px;
}

.sixth_number {
    color: white;
    width: 36%;
    font-size: 16.3px;
    background-color: #4d4d4d;
    border-radius: 10px;
    padding: 4px 4px;
    margin-left: 10px;
    margin-top: 25px;
}

.sixth_solving_after_table {
    line-height: 1.3;
    font-size: 21px;
    color: white;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
}
.sixth_ul {
    list-style-type: disc;
    padding-left: 645px;
}

.sixth_like_list {
    line-height: 1.3;
    font-size: 19px;
    color: white;
    margin-top: 20px;
    margin-bottom: 25px;
}

.sixth_misstakes {
    color: white;
    font-size: 21px;
    margin-left: 590px;
    line-height: 1.4;
}

.sixth_object {
    margin-bottom: 11px;
}

aside {
    position: sticky;
    float: left;
    background: #181819;
    width: 25%;
    padding: 2.5%;
    height: 273vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    margin-right: 20px;
}

aside .logo {
    font-size: 45px;
    margin-left: 10px;
    position: relative;
    top: 10px;
}

aside h3 {
    margin-top: 30px;
    font-size: 30px;
}

aside ul {
    list-style: none;
    padding-left: 10%;
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    font-size: 17px;
    transition: transform .3s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    transform: scale(1.05);
    text-decoration: none;
}

aside ul a {
    text-decoration: none;
    color: inherit;
}

aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
}

.main_gif {
    width: 1000px;
    margin-left: 195px;
}


table {
    line-height: 23px;
    width: 200px;
    white-space: pre;
    color: white;
    border-collapse: collapse;
    border: 2px solid gray;
    margin-left: 3%;
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: flex-start;
}

th {
    border: 2px solid gray
}

td {
    padding-left: 5px;
}


.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}


.task_text {
    white-space: pre;
    line-height: 30px;
    color: white;
    flex-grow: 1;
}

.mid_task_text {
    align: center;
    color: white;
    margin-top: 20px;
    padding-left: 20%;
}

.task_text_container {
    max-width: -10px;
    flex-grow: 1;
}

.sixth_table {
    line-height: 23px;
    width: 300px;
    white-space: pre;
    color: white;
    border-collapse: collapse;
    border: 2px solid gray;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: flex-start;
}

.sixth_label {
    color: white;
    margin-left: 25%;
}

.sixth_anwser_field {
    font-size: 15px;
    width: 120px;
    height: 20px;
}

.flex_container_row {
    padding-top: 11px;
    display: flex;
    gap: 10px;
}

.task_number {
    height: 20px;
    font-size: 20px;
    color: white;
    background-color: #4d4d4d;
    padding: 10px 20px;
    border-radius: 5px;
}
.sixth_btn {
    border-radius: 5px;
    height: 25px;
}

.sixth_button_container {
    margin-top: 80px;
    margin-left: 907px
}

.sixth_button_container a {
    margin-right: 7px;

}

.sixth_btn_toTraining {
    color: white;
    border-radius: 15px;
    font-size: 25px;
    width: 230px;
    height: 90px;
    background: #4d4d4d;
    transition: 0.5s;
}

.sixth_btn_toTraining:hover {
    background: gray;
}